<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>NOTA</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Totalan Harga</div>
        <hr>
        <tr>
            <th>Nama :</th><td th:text="${name}"></td></br>
            <th>Harga sayur: Rp.</th><td th:text="${price}"></td></br>
            <th>Jumlah sayur : </th><td th:text="${quantity}"></td></br>
            <th>Total harga pembelian: Rp.</th><td th:text="${total}"></td></br>
            <th>Anda mendapat diskon sebesar </th><td th:text="${diskone}"></td></br>
            <th></th><td th:text="${Hasil}"></td></br>
        <tr>
    </body>
</html>
